@import url("scroll-pane.css");

.left-pane {
    -fx-border-color: grey;
    -fx-border-width: 0 1 0 0;
}

.top-id-label {
    -fx-font-size: 14;
    -fx-font-weight: 700;
    -fx-text-fill: black;
}

.id-label {
    -fx-font-size: 15;
    -fx-font-weight: 700;
    -fx-text-fill: black;
}
.chat-box-scroll-pane .view-port{
    -fx-background-color: rgba(128, 128, 128, 0.07);
}
.chat-box {
    -fx-background-color: rgba(128, 128, 128, 0.07);
}
.chat-box .text-area{
    -fx-focus-traversable: false;
    -fx-background-color: transparent;
}
.chat-box .text-area .content{
    -fx-focus-traversable: false;
    -fx-background-color: transparent;
}
.chat-text-field {
    -fx-background-color: rgba(128, 128, 128, 0.07);
    -fx-border-color: rgba(128, 128, 128, 0.22);
}
.send-button {
    -fx-background-color: transparent;
}